venv
/backend/.env
backend/__pycache__
frontend/package-lock.json
frontend/.env
backend/Blueprints/__pycache__/modelBlueprint.cpython-311.pyc
backend/Blueprints/__pycache__/foodBankBlueprint.cpython-311.pyc
backend/Blueprints/__pycache__/modelBlueprint.cpython-311.pyc
backend/Blueprints/__pycache__/restaurantBlueprint.cpython-311.pyc
backend/Blueprints/__pycache__/modelBlueprint.cpython-311.pyc
